.wrapper {
    height: calc(100vh - 3rem - 4rem);
}

.nav-item {
    position: relative;
    top: 0.1rem;
}

.bi-journal-text,
.bi-journal-minus,
.bi-journal-plus {
    position: relative;
    bottom: 0.1rem;
}

td.title {
    p {
        position: relative;
        top: 0.2rem;
    }
}

.nav-link::after {
    position: relative;
    top: 0.15rem;
}

.navbar-brand:hover {
    color: black !important;
    cursor: pointer;
}
